name: Assets upload

on:
  create:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+(?:-.*)?'
permissions:
  id-token: write
  contents: read

jobs:
  upload-assets:
    name: "Upload assets"
    runs-on: ubuntu-latest
    env:
      PULL_BASE_REF: ${{  github.ref_name }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MODULE_REGISTRY: europe-west3-docker.pkg.dev/sap-kyma-jellyfish-dev/template-operator
      IMG: europe-west3-docker.pkg.dev/sap-kyma-jellyfish-dev/template-operator:${{  github.ref_name }}
    steps:
      - name: Checkout template operator
        uses: actions/checkout@v4
      - id: 'auth'
        name: Authenticate with GCP
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: 'sap-kyma-jellyfish-dev'
          workload_identity_provider: 'projects/718973091829/locations/global/workloadIdentityPools/github-action/providers/github-actions'
          service_account: 'github-actions-sa@sap-kyma-jellyfish-dev.iam.gserviceaccount.com'
      - name: Login to gcloud
        run: |-
            gcloud auth login --brief --cred-file="${{ steps.auth.outputs.credentials_file_path }}"
            gcloud services list
      #- name: Run upload assets script
      #  run: bash ./scripts/release/upload_assets.sh


